body {
    font-family: sans-serif;
}

section {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    background-color: #c98a92;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

section button {
    width: 30%;
    height: 30%;
    border: none;
    background-color: #fdeaf1;
    color: #9d9d9d;
    font-size: 72px;
}

section button:hover {
    background-color: #eed9e0;
}

.page {
    text-align: center;
    color: #9d9d9d;
}

#reset {
    display: none;
    border: none;
    border-radius: 5px;
    color: #fdeaf1;
    background-color: #c98a92;
    padding: 0.5rem;
    font-size: 1.2rem;
}

#reset:hover {
    color: #e3e3e3;
    background-color: #a8727a;
}

#one_or_two_players {
    padding: 0.5rem;
    font-size: 1.1rem;
    color: #9d9d9d;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 530px) {
    section {
        width: 300px;
        height: 300px;
    }
}